p, 
h1, 
h2, 
h3, 
ul, 
li, 
a {
    color: #333;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility;
    line-height: 2;
}

body {
    padding: 0;
    background-color: #f7f7f4;
    font-family: 'Roboto', sans-serif;
    font-size: .9em;
    font-weight: 400;
}

h3 {
    font-family: monospace;
    font-size: 1.3em;
    font-weight: 700;
}

/* Navigation 

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
*/

/* Global */
.container {
    width: 85%;
    margin: auto;
    overflow: hidden;
    max-width: 600px;
}

/* Formats paragraphs with correct line-height, spacing */
.list-spacing ol, ul {
    margin-top: 1.5em;
}

li {
    margin: 0 0 1.5em 0;
}

a {
    color: #6653FF;
    text-decoration: none;
}

a:hover {
    color: rgb(79, 56, 252);
    text-decoration: underline;
}

a:active {
    color: rgb(50, 23, 255);
}



ul {
    list-style-type: none;
}

h2 {
    font-family: 'Contrail One', sans-serif;
    margin-top: 3em;
}

/* Header */
header {
    padding-top: 30px;
    min-height: 70px;
}

/* Footer */
footer {
    font-family: 'Roboto', sans-serif;
    padding-top: 75px;
    font-size: 12px;
}

#now_text {
    line-height: 1.5em;
}

#now_top_space_1 {
    padding-top: 2em;
}

#copyright {
    font-family: Roboto, sans-serif;
    color: #333;
    text-align: center;
}

#copyright p {
    color: #d8d8d2;
}

/*
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
  }
*/

#branding {
    position: absolute;
    width: 6em;
    height: 6em;
    top: 2em;
    left: 2em;
}

.section-heading {
    text-transform: uppercase;
    letter-spacing: .08em;
}

#arrow {
    padding-left: .5em;
}

.spacer {
    padding-top: 10em;
}
