h1 {
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 600;
    font-size: .87em;
    color: black;
}

h2 {
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 600;
    align-content: center;
    font-size: 1em;
}

p, mark {
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 400;
    font-size: .87em;
}

li {
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    line-height: 2.5;
}

a {
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 400;
    text-decoration: underline;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    background: #333333;
    color: white;
}

a:active{

}

.header {
    padding-left: 4em;
    padding-right: 30px;
    margin: 30px 0 50px;
}

.list {
    padding-left: 4em;
    font-size: .8em;
}

#footer {
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    height: .5em;
    width: 10em;
    margin-top: 10em;
    margin-left: 3.7em;
    text-align: center;
    font-size: .7em;
}

