p, 
h1, 
h2, 
h3, 
ul, 
li, 
a {
    color: #333;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility;
}

body {
    padding: 0;
    background-color: #f7f7f4;
    font-family: 'Roboto', sans-serif;
    font-size: .9em;
    font-weight: 400;
}

/* Global */
.container {
    width: 85%;
    margin: auto;
    overflow: hidden;
    max-width: 600px;
}


a {
    color: #f6595d;
    text-decoration: none;
}

a:hover {
    color: #91aaff;
    text-decoration: underline;
}

a:active {
    color: red;
}



ul {
    list-style-type: none;
}

h2 {
    font-family: 'Contrail One', sans-serif;
    margin-top: 3rem;
}

/* Header */
header {
    padding-top: 30px;
    min-height: 70px;
}

/* Footer */
footer {
    font-family: 'Roboto', sans-serif;
    padding-top: 75px;
    font-size: 12px;
    /* REMOVE THE LINE BELOW */
    padding-bottom: 1000px;
}

#now_text {
    line-height: 1.5em;
}

#now_top_space_1 {
    padding-top: 2em;
}

#copyright {
    font-family: Roboto, sans-serif;
    color: #333;
    text-align: center;
}

#copyright,
#contact a, p {
    color: #d8d8d2;
}

/*
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
  }
*/

#branding {
    position: fixed;
    width: 6rem;
    height: 6rem;
    top: 2rem;
    left: 2rem;
}

.section-heading {
    text-transform: uppercase;
}

#arrow {
    padding-left: .5rem;
}

.spacer {
    padding-top: 5rem;
}