h1 {
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 600;
    font-size: 1em;
}

h2 {
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 400;
    font-size: .85em;
    align-content: center;
}

p, mark {
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 400;
    font-size: .95em;
}

ul {

}

li {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
}

body {

}

mark {
    background-color: white;
    text-decoration: underline;
}

a {
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 400;
    font-size: .85em;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    background: #4054b2;
    color: white;
}

a:active{

}

.header {
    margin: 2em;
}

.sub_head {
    margin-left: 3.7em;
}

#footer {
    height: .5em;
    width: 10em;
    margin-top: 6em;
    margin-left: 3.7em;
    text-align: center;
    font-size: .7em;
}

